@page
@model IEnumerable<TigerTix.Web.Areas.Account.Models.UserModel>

@{
    ViewData["Title"] = "ViewUsers";
    Layout = "_Layout";
}

<h1>Users</h1>

<div>
    <dl class="row">
        @foreach(var u in Model)
        {
            <dt class="col-sm-2">
                @u.FirstName
            </dt>
            <dt class="col-sm-2">
                @u.LastName
            </dt>
            <dt class="col-sm-2">
                @u.Email
            </dt>
            <dt class="col-sm-2">
                @u.PhoneNumber
            </dt>
            <dt class="col-sm-2">
                @u.Password
            </dt>
            <dt class="col-sm-2">
                @u.CreditCard
            </dt>
            <dt class="col-sm-2">
                @u.AccountType
            </dt>
        }
    </dl>
</div>
