@page
@model IEnumerable<TigerTix.Web.Areas.Event.Models.EventModel>

@{
    ViewData["Title"] = "Add";
}

<h1>Approve Events</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventDateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EventName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventLocation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventDateTime)
                </td>
                <td>
                    <button type="submit" name="SubmitButton" value="Approve" class="btn btn-sm btn-success">Approve</button>
                    <button type="submit" name="SubmitButton" value="Deny" class="btn btn-sm btn-danger">Deny</button>

                </td>
            </tr>
        }
    </tbody>
</table>

